<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939749847532-4dqjl4l83a7ij7um65u0golk4nf6flbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939749847532-4dqjl4l83a7ij7um65u0golk4nf6flbn</string>
	<key>API_KEY</key>
	<string>AIzaSyCN14d10DVhUjO2mlHweUh0PyEvc1uEoT0</string>
	<key>GCM_SENDER_ID</key>
	<string>939749847532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tooning</string>
	<key>PROJECT_ID</key>
	<string>motory-660dd</string>
	<key>STORAGE_BUCKET</key>
	<string>motory-660dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939749847532:ios:6f11bd1adf0dd570d310c9</string>
	<key>DATABASE_URL</key>
	<string>https://motory-660dd.firebaseio.com</string>
</dict>
</plist>