<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760517205994-1h9hf4s07dnkrc0dlp5ipk5lbt3cf2ga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760517205994-1h9hf4s07dnkrc0dlp5ipk5lbt3cf2ga</string>
	<key>API_KEY</key>
	<string>AIzaSyC9pvW4tHkSZgDFqNjDvWAUyyO2Sy4aMrw</string>
	<key>GCM_SENDER_ID</key>
	<string>760517205994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.motory-owner</string>
	<key>PROJECT_ID</key>
	<string>motory-a3066</string>
	<key>STORAGE_BUCKET</key>
	<string>motory-a3066.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760517205994:ios:b347b003e61f3e72b6dc93</string>
	<key>DATABASE_URL</key>
	<string>https://motory-a3066.firebaseio.com</string>
</dict>
</plist>